<!doctype html>
<html>
<head>
    <title>CookShare - Profile</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body 
  x-data="{ addRecipeModal: false, editRecipeModal: false }"
  class="text-gray-800 bg-zinc-100">

  <!-- HEADER -->
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
        <a href="/profile" class="mr-5 hover:text-gray-900">Profile</a>
        <a href="/recipes" class="mr-5 hover:text-gray-900">Recipes</a>
      </nav>
      <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-yellow-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">CookShare</span>
      </a>
      <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
        <a href="/" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Log Out
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </div>
  </header>

  <!-- PROFILE -->
  <main>
    <div class="flex-col justify-center align-center p-6 border-b border-b-2 border-b-gray-300">
      <div class="flex-col flex-wrap text-center">
        <div class="text-2xl font-bold flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>            
          <h1 class="ml-2">MY PROFILE</h1>
        </div>
        <% if (user.local.email) { %>
          <p class="my-2"><span class="mr-2"><strong>ID:</strong></span><%= user._id %></p>
          <p class="my-2"><span class="mr-2"><strong>EMAIL:</strong></span><%= user.local.email %></p>
          <p class="my-2 truncate"><span class="mr-2"><strong>PASSWORD:</strong></span><%= user.local.password %></p>
          <button @click="addRecipeModal = true" class="my-2 mr-2 inline-block px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-green-500 rounded-md hover:bg-green-700">Add Recipe</button>
          <a href="/logout" class="my-2 inline-block px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600">Logout</a>
        <% } %>
      </div>
  </main>

  <!-- MY RECIPES -->
  <section>
    <div class="p-6">
      <div class="text-2xl font-bold flex items-center justify-center">
        <div class="items-center mr-5">
          <h2 class="ml-2 text-center">🥙 MY RECIPES</h2>
          <h3 class="text-xl font-semibold text-center">View, Edit, and Delete Your Recipes 👇</h3>
        </div>
      </div>

      <!-- MY RECIPES LIST -->
      <ul class="recipes text-gray-700">
        <% for(var i=0; i<recipes.length; i++) {%>
          <% if (recipes[i].email === user.local.email) { %>
          <li class="recipe">
            <div class="container grid grid-cols-12 mx-auto my-5 bg-gray-300">
              <div class="bg-no-repeat bg-cover dark:bg-gray-700 col-span-full lg:col-span-4" style="background-image: url('https://source.unsplash.com/random/640x480?<%= recipes[i].recipeName %>'); background-position: center center; background-size: cover;"></div>
              <div class="flex flex-col p-6 col-span-full row-span-full lg:col-span-8 lg:p-10">
                <h3 class="text-3xl font-semibold"><%= recipes[i].recipeName %></h3>
                <p class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm text-gray-500"><%= recipes[i].recipeDesc %></p>
                <h4>Ingredients</h4>
                <span class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm text-gray-500"><%= recipes[i].ingredients %></span>
                <h4>Instructions</h4>
                <span class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm text-gray-500"><%= recipes[i].instructions %></span>
                <div class="flex items-center justify-between pt-2">
                  <div class="flex space-x-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 dark:text-gray-400">
                      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
                    </svg>
                    <div class="self-center text-sm"><span>By: </span><span><%= recipes[i].email %></span></div>
                  </div>
                  <div class="text-xs"><span>Prep Time: </span><span><%= recipes[i].recipePrep %></span></div>
                  <div class="inline-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-5 trash cursor-pointer">
                      <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                    </svg>
                    <svg @click="editRecipeModal = true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 pen cursor-pointer">
                      <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
                    </svg> 
                  </div>
                </div>
              </div>
            </div>
          </li>
          <% } %>
        <% } %>
      </ul>
    </div>
  </section>

  <!-- MODALS -->
  <!-- ADD RECIPE MODAL -->
  <section 
    x-show="addRecipeModal"
    class="fixed inset-0 bg-white bg-opacity-75 flex items-center justify-center">
    <% if (user.local.email) { %>
    <form action="/profile" method="post" id="addRecipe" class="p-8 bg-gray-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100
    ">
      <div class="flex justify-between">
        <h1 class="text-xl font-bold">Add Recipe</h1>
        <div @click="addRecipeModal = false" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg> 
        </div>
      </div>
      <div class="grid grid-cols-3 gap-6 mt-4">
        <div>
          <label for="email">Email Address</label>
          <input type="text" value="<%= user.local.email %>" name="email" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="recipeName">Recipe Name</label>
          <input type="text" placeholder="Recipe Name" name="recipeName" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="recipeDesc">Recipe Description</label>
          <input type="text" placeholder="Recipe Description" name="recipeDesc" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="recipePrep">Recipe Prep Time</label>
          <input type="text" placeholder="Recipe Prep Time" name="recipePrep" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="ingredients">Ingredients</label>
          <textarea name="ingredients" rows="10" placeholder="Recipe Ingredients" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"></textarea>
        </div>
        <div>
          <label for="instructions">Instructions</label>
          <textarea name="instructions" rows="10" placeholder="Recipe Instructions" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"></textarea>
        </div>
            <!-- LOOK INTO FILE HOSTING SERVICE FOR IMAGE FILES. FOR NOW GENERATE A RANDOM IMAGE BASED ON THE RECIPE NAME -->
            <!-- <div>
                <label class="block text-sm font-medium text-white">Image</label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="recipeImage" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <span class="">Upload a file</span>
                      <input id="recipeImage" name="recipeImage" type="file" class="sr-only">
                    </label>
                    <p class="pl-1 text-white">or drag and drop</p>
                  </div>
                  <p class="text-xs text-white">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div> -->
            </div>
        </div>
        <div class="flex justify-end mt-6">
            <button class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600">Add</button>
        </div>
    </form>
    <% } %>
  </section>

  <!-- EDIT RECIPE MODAL -->
  <section 
    x-show="editRecipeModal"
    class="fixed inset-0 bg-white bg-opacity-75 flex items-center justify-center">
    <% if (user.local.email) { %>
    <form id="editRecipe" class="p-8 bg-gray-800 rounded-md bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-10 border border-gray-100
    ">
      <div class="flex justify-between">
        <h1 class="text-xl font-bold">Edit Recipe</h1>
        <div @click="editRecipeModal = false" class="cursor-pointer">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg> 
        </div>
      </div>
      <div class="grid grid-cols-3 gap-6 mt-4">
        <div>
          <label for="recipeName">Recipe Name</label>
          <input type="text" placeholder="Recipe Name" name="recipeName" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="recipeDesc">Recipe Description</label>
          <input type="text" placeholder="Recipe Description" name="recipeDesc" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="recipePrep">Recipe Prep Time</label>
          <input type="text" placeholder="Recipe Prep Time" name="recipePrep" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring">
        </div>
        <div>
          <label for="ingredients">Ingredients</label>
          <textarea name="ingredients" rows="10" placeholder="Recipe Ingredients" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"></textarea>
        </div>
        <div>
          <label for="instructions">Instructions</label>
          <textarea name="instructions" rows="10" placeholder="Recipe Instructions" type="textarea" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md dark:border-gray-600 focus:border-blue-500 dark:focus:border-blue-500 focus:outline-none focus:ring"></textarea>
        </div>
            <!-- LOOK INTO FILE HOSTING SERVICE FOR IMAGE FILES. FOR NOW GENERATE A RANDOM IMAGE BASED ON THE RECIPE NAME -->
            <!-- <div>
                <label class="block text-sm font-medium text-white">Image</label>
            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  <div class="flex text-sm text-gray-600">
                    <label for="recipeImage" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                      <span class="">Upload a file</span>
                      <input id="recipeImage" name="recipeImage" type="file" class="sr-only">
                    </label>
                    <p class="pl-1 text-white">or drag and drop</p>
                  </div>
                  <p class="text-xs text-white">
                    PNG, JPG, GIF up to 10MB
                  </p>
                </div>
              </div> -->
            </div>
        </div>
        <div class="flex justify-end mt-6">
            <button id="saveBtn" class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600">Save</button>
        </div>
    </form>
    <% } %>
  </section>

<script src="main.js"></script>
</body>
</html>